[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"

[dev-packages]
pytest = "*"
httpretty = "*"
codecov = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.7"
